// Place all the styles related to the QuestionsController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

a {
  color : blue;
  text-decoration: none;
}

body {
  font-family: "Lato";
  background-color: grey;
}


h1 {
  font-weight: bold;
}

